# LangChain Core
langchain
langchain-core
langchain_community
langchain-text-splitters

# OpenAI Integration
langchain-openai
openai

# Anthropic Integration
langchain-anthropic

# Google Gemini (PaLM) Integration
langchain-google-genai
google-generativeai

#ollama
langchain_ollama
ChatOllama


# Hugging Face Integration
langchain-huggingface
transformers
huggingface-hub

# Environment Variable Management
python-dotenv

# Machine Learning Utilities
numpy
scikit-learn

#streamlit for ui
streamlit

youtube_transcript_api

langchain

langchain_core

langchain_text_splitters
langchain_community
chromadb


langchain_ollama